<h2>Mailing List Signup</h2>

<p>Thank you for your interest in Caring Casseroles!<br />  Please add yourself to our mailing list.</p>

<p><%= link_to 'Click here', '/labels.html' %> to view our printable casserole labels.</p>

<% form_for Contact.new do |f| %>
	<div>
		<label for="first_name">First name:</label>
		<%= f.text_field :first_name %>
	</div>
	<div>
		<label for="last_name">Last name:</label>
		<%= f.text_field :last_name %>
	</div>
	<div>
		<label for="email">Email:</label>
		<%= f.text_field :email %>
	</div>
	<div>
		<label for="email">Phone:</label>
		<%= f.text_field :phone %>
	</div>
	<%= f.submit 'Sign Up' %>
<% end %>